body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 7% 0 0 0;
}

@media screen and (max-width: 1100px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 8% 0 0 0;
    }
}
@media screen and (max-width: 900px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 12% 0 0 0;
    }
}
@media screen and (max-width: 731px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 15% 0 0 0;
    }
}
@media screen and (max-width: 480px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20% 0 0 0;
    }
}
@media screen and (max-width: 375px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 25% 0 0 0;
    }
}

/* header */
header nav {
    position: fixed;
    display: flex;
    align-content: flex-start;
    width: 100%;
    background: #333;
    color: #fff;
    top: 0;
}

.navmenu {
    width: 70%;
}

#login-cont {
    display: table;
}

.login_logout {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    padding-right: 3em;
    gap: .5em;
}

.login_logout form input {
    width: auto;
    height: 40px;
    font-size: 11pt;
    border: 0;
    border-radius: 5px;
    color: #fff;
    background: none;
    cursor: pointer;
}

#login-btn {
    width: auto;
    height: 40px;
    font-size: 11pt;
    text-align: center;
    color: #fff;
    background-color: #0e86bd;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    padding: 10px;
    /*text-align: center;*/
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* index */
#index-aside {
    width: 30%;
}

#index-main {
    width: 70%;
}

#show-info {
    text-decoration: underline;
    cursor: pointer;
}

#hide-container {
    text-align: center;
}

#hide-info {
    display: none;
    margin-top: 5%;
    padding: 5px 10px;
    text-decoration: underline;
    cursor: pointer;
}

.noticias {
    width: 200px;
    padding: 7%;
}

#rss-feed {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
}

#container {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

#show-info {
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

#content {
    text-align: center;
}

#content h1 {
    text-align: center;
    padding-bottom: 5%;
}

#noticias-h2 {
    text-align: center;
    padding-bottom: 5%;
}

/* pedido */
#pedido-h1 {
    text-align: center;
}

#orcamento-form {
    margin-top: 5%;
    margin-left: 35%;
}

#dados-h2 {
    text-align: justify;
    padding-bottom: 30px;
    padding-top: 15px;
}

.dados {
    text-align: justify;
}

#orcamento-h2 {
    text-align: justify;
    padding-bottom: 30px;
    padding-top: 30px;
}

/* portfólio */
#portfolio-h1 {
    text-align: center;
    padding-bottom: 130px;
}

.gallery img {
    width: 50em;
    margin: 10px;
    cursor: pointer;
}

.gallery {
    text-align: center;
}

/* Contactos */
#contactos-h1 {
    text-align: center;
}

#contact-container {
    display: flex;
    justify-content: center;
    margin: 3% 0 5% 0;
}

#contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form {
    margin-top: 2%;
}

/* Login e Signup */
#login-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7%;
}

#login-signup form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
}

#login-signup form input{
    border-radius: 0.3em;
    margin: 0.5em;
}

/* Profile */
#profile-container {
    padding: 2%;
}

.td {
    text-align: center;
}